.edit p {
  color: black !important;
}

.ulul li {
  list-style: disc;
}

.divstyle {
  width: 100%;
  height: 350px;
}

@media only screen and (max-width: 768px) {
  .divstyle {
    height: 200px;
  }
}
