@import url("https://fonts.googleapis.com/css2?family=Carter+One&family=Caveat:wght@400..700&family=Oswald:wght@200..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Space+Grotesk&display=swap");
.logo-A {
  font-size: 50px;
  color: aliceblue;

  margin-inline-start: 4%;
}
.navlink {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}
.nev-sec {
  display: flex;
  justify-content: space-between;
}
.navbtn {
  margin-inline-end: 4%;
}
.nv-btn {
  align-items: center;
}

.main-heading span {
  font-weight: lighter;
}
.first-sec p {
  color: rgba(255, 255, 255, 0.4);
}
.imggg {
  transition: transform 0.3s ease-in-out;
  object-fit: cover;
}
.imggg:hover {
  transform: scale(1.1);
}
.dii {
  overflow: hidden;
}
.dii:hover img {
  transform: scale(1.1);
  transition: transform 0.5s ease-in-out;
}
.img1 img {
  width: 70%;
  height: 80%;
  align-items: center;
  justify-content: center;
}
.roundd img {
  border: none;
  border-radius: 50%;
}
.sec-3 {
  color: rgba(255, 255, 255, 0.4);
}
.img3 {
  width: 50%;
  border-radius: 40px;
}
.line-center {
  align-items: center;
}
.txtt {
  color: rgba(255, 255, 255, 0.9);
}
.txtt ul {
  margin-top: 10px;
  font-size: 12px;
  font-family: "Outfit", sans-serif;

  color: rgba(255, 255, 255, 0.6);
  list-style: none;
  text-transform: uppercase;
  text-decoration: none;
  padding-left: 0;
}
.txtt li {
  margin-top: 10px;
}
.main-heading h1 {
  font-size: 80px;
}

/* For small screens (max-width: 600px) */
@media (max-width: 600px) {
  .main-heading h1 {
    font-size: 34px; /* Smaller font size for small screens */
  }
}

/* For medium screens (600px to 1024px) */
@media (min-width: 601px) and (max-width: 1024px) {
  .main-heading h1 {
    font-size: 64px; /* Larger font size for tablets or medium screens */
  }
}

/* For large screens (above 1024px) */
@media (min-width: 1025px) {
  .main-heading h1 {
    font-size: 74px; /* Larger font size for desktops */
  }
}
.form-style input {
  padding-left: 10px !important;

  background-color: transparent;
  height: 50px;
  font-size: 14px;

  letter-spacing: 1px;

  font-family: "Outfit", sans-serif;
  border: none;

  border-bottom: solid 2px rgba(0, 0, 0, 0.2);
}
input:focus {
  outline: none;

  box-shadow: none;
}
.form-style textarea {
  padding-left: 10px !important;
  background-color: transparent;
  height: 150px;
  font-size: 14px;
  letter-spacing: 1px;
  font-family: "Outfit", sans-serif;
  border: none;
  border-bottom: solid 2px rgba(0, 0, 0, 0.2);
}

.form-style select {
  background-color: transparent;
  font-size: 14px;
  padding: 15px 6px;

  letter-spacing: 1px;

  font-family: "Outfit", sans-serif;
  border: none;
  border-bottom: solid 2px rgba(0, 0, 0, 0.2);
}
.form-style select:focus {
  outline: none;
}

::placeholder {
  color: rgb(122, 120, 120);
}
textarea:focus {
  outline: none;

  box-shadow: none;
}
a {
  text-decoration: none;
}
.inner-cir:hover {
  /* Add your hover styles here */
  background-color: #333; /* Change background color on hover */
  transform: scale(1.2); /* Scale up on hover */
  transition: all 0.4s ease-in-out; /* Smooth transition */
}
.pp {
  color: rgba(0, 0, 0, 0.5);
}
.Store h2 {
  font-size: larger;
  font-weight: 700;
}
.Store {
  background-color: orange;
  box-shadow:
    rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset,
    rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset,
    rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset,
    rgba(0, 0, 0, 0.06) 0px 2px 1px,
    rgba(0, 0, 0, 0.09) 0px 4px 2px,
    rgba(0, 0, 0, 0.09) 0px 8px 4px,
    rgba(0, 0, 0, 0.09) 0px 16px 8px,
    rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

/* // media query for cards border hover shadow* */
@media (min-width: 768px) {
  .border-effect {
    position: relative;
    transition: border-top 1s;
  }

  .border-effect:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 0px;
    height: 8px;
    border-radius: 2px;
    background-color: #ff9800;
    transition: 0.75s ease-in-out;
  }

  .border-effect:hover:before {
    width: 100%;
  }
}

@media (max-width: 767px) {
  .border-effect2 {
    position: relative;
    transition: border-right 1s;
  }

  .border-effect2::after {
    border-left: none;
    content: "";
    position: absolute;
    top: 0;
    left: 99%;

    width: 8px;
    height: 0px;
    border-radius: 2px;
    background-color: #ff9800;
    transition: 0.75s ease-in-out;
  }

  .border-effect2:hover:after {
    height: 100%;
  }
}
@media (max-width: 768px) {
  .leftborder {
    border-left: none;
  }
}

.abc {
  position: absolute;
  left: 48%;
  bottom: 84%;
}
