.dropdown-menu {
  display: flex;
  flex-direction: row;
  border-radius: 0;

  display: none; /* Initially hidden */
  position: absolute;
  background-color: aliceblue;

  border: 1px solid #ccc;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
}

.dropdown-menu.show {
  width: auto;
  display: block; /* Shown when the show class is added */
}
.dropdown-menu li:hover {
}

.dropdown-toggle::after {
  display: none !important;
}
hr {
  padding: 0px;
  margin: 0px;
  margin-top: 0px;
}
.dropdown-item:hover {
  color: #ccc;
  transition-duration: 0.1s;
  background-color: #5b636b;
}
