.dropdown-menu {
  display: flex;
  flex-direction: row;
  border-radius: 0;

  display: none; /* Initially hidden */
  position: absolute;

  border: 1px solid #ccc;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
}

.dropdown-menu.show {
  width: auto;
  display: block; /* Shown when the show class is added */
}

.dropdown-toggle::after {
  display: none !important;
}

.dropdown-item:hover {
  color: #ccc;
  transition-duration: 0.1s;
  background-color: #5b636b;
}

/* Navbaritem.css */
.dropdown-center {
  position: absolute;
  left: 50%;
  transform: translateX(-10%);
  max-width: 40vw; /* Ensures the dropdown doesn't overflow */
}
.list-group-item.active{
  background-color:  #5b636b;
}